---
BasedOnStyle: Google
---
Language:                               Cpp
Cpp11BracedListStyle:                   true
Standard:                               Cpp11
CommentPragmas: '^ NOLINT'
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
